name: 'Deployment to GCP'

on:
  push

jobs:
  build-infrastructure:
    name: 'Set up infrastructure'
    runs-on: ubuntu-latest
    env:
      GOOGLE_APPLICATION_CREDENTIALS: /tmp/credentials.json

    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v1

      - name: Set Up Credentials
        env:
          SET_UP_CREDENTIALS: ${{ secrets.GOOGLE_CREDENTIALS }}
        run: printf '%s' "$SET_UP_CREDENTIALS" > "$GOOGLE_APPLICATION_CREDENTIALS"

      - name: Terraform Init
        run: |
          cd iac/terraform
          terraform init

      - name: Terraform Plan
        run: |
          cd iac/terraform
          terraform plan

      - name: Terraform Apply
        if: github.event_name == 'push'
        run: |
          cd iac/terraform
          terraform apply -auto-approve

  build-frontend:
    name: "Build frontend"
    needs: build-infrastructure
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: build frontend
        run: |
          cd frontend
          npm ci
          npm run build
      - name: upload frontend
        uses: actions/upload-artifact@v2
        with:
          name: frontend-build
          path: frontend/build/

  build-backend:
    name: "Build backend"
    needs: build-frontend
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 15
        uses: actions/setup-java15@v1
        with:
          java-version: 15
      - name: Download frontend build
        uses: actions/download-artifact@v2
        with:
          name: frontend-build
          path: backend/src/main/resources/static
      - name: Build with maven
        run: mvn -B package --file backend/pom.xml
      - name: Upload backend
        uses: actions/upload-artifact@v2
        with:
          name: teddys-corona-diaries.jar
          path: backend/target/teddys-corona-diaries.jar
