name: test frontend build

on:
  push

jobs:
  build-frontend:
    name: "Build frontend"
    needs: build-infrastructure
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: build frontend
        run: |
          cd frontend
          npm ci
          npm run build
