name: 'Terraform CI'

on:
  push

jobs:
  terraform:
    name: 'Terraform'
    runs-on: ubuntu-latest
    env:
      GOOGLE_APPLICATION_CREDENTIALS: /tmp/credentials.json

    defaults:
      run:
        shell: bash

    steps:

      - name: Checkout
        uses: actions/checkout@v2

      - name: CD into folder
        run: cd iac/terraform

      - name: Set Up GCloud
        uses: google-github-actions/setup-gcloud@master
        with:
          service_account_email: ${{ secrets.GOOGLE_SA }}
          service_account_key: ${{ secrets.GOOGLE_CREDENTIALS }}
          export_default_credentials: true

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v1

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan

      - name: Terraform Apply
        if: github.event_name == 'push'
        run: terraform apply -auto-approve
